* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*-----Шапка с информацией о компании-----*/

.nav__top {
    padding: 11px 0 9px;
    background-color: #1A1A1A;
}

.container {
    max-width: 1298px;
    margin: 0 auto;
    position: relative;

}

.about,
.menu,
.container {
    display: flex;
}

.menu a,
.mail a {
    text-decoration: none;
    color: #CBCBCB;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
}

.menu li {
    margin: 0 60px 0 0;
    word-spacing: 0.5px;
}

/*-----Шапка страницы с корзиной-----*/

.stiky {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #FFFFFF;
}

.logo {
    margin-right: 52px;
    margin-top: 11px;
}

.mail {
    text-align: right;
    margin-left: auto;
}

.menu-open {
    padding: 14px 14px;
    background: #F2721B;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
    border-radius: 3px 0px 0px 3px;
    border-color: #F2721B;
    outline: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 17px;
    cursor: pointer;
}

.vector {
    padding-left: 31px;
}

#search {
    padding: 16px 1px 13.5px 18px;
    vertical-align: middle;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #9A9A9A;
    text-overflow: ellipsis;
    width: 465px;
    outline: none;
    word-spacing: -0.2px;
}

.search {
    position: relative;
}

.search::after {
    content: url(img/Vector2.png);
    position: absolute;
    margin: 30px -37px;
}

.search:checked {
    border-radius: 1px solid;
}

.tel-schedule {
    margin: 19px 53px 0 68px;
}

.schedule {
    display: flex;
    margin-top: 2px;
    justify-content: flex-end;
    align-items: center;
}

.schedule__time {
    margin-left: 10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #6A6A6A;
}

.tel {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #F2721B;
    text-decoration: none;
}

.status {
    width: 6px;
    height: 6px;
}

.open {
    display: flex;
    align-items: center;
}

.open__btn {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: none;
    background-color: #FFFFFF;
}

.open__btn:hover {
    font-weight: bold;
    cursor: pointer;
}

.basket {
    position: absolute;
    margin-top: 15px;
    left: auto;
    right: 0;
    height: 48px;
    background: #728153;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 21px;
}

.basket__price {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
    margin-left: 10px;
}

.basket__price::after {
    content: "\20BD";
    margin-left: 4.5px;
}
.put_basket__text-hidden {
    display: none;
}
/*-----Блок с акциями и скидками-----*/

.sale {
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-left: 0.4px;
    word-spacing: 1.26px;
}

.sale__img {
    margin-right: 20px;
    width: 50px;
    height: 2px;
}
.line__hidden {
    display: none;
}

.sale__name {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

/*-----Стрелки переключения слайдера-----*/

.container_sale {
    position: relative;
}

.sale input {
    display: none;
}

.content {
    background: #E5E5E5;
    height: 100vh;
    position: relative;
}

.container_hidden {
    overflow: hidden;
    margin-top: 50.2px;
}

.container_hidden input {
    display: none;
}

.active {
    display: flex;
    position: absolute;
    right: 0;
}

.active>label:first-child {
    background-image: url(img/Group\ 31.png);
    width: 48px;
    height: 48px;
    margin-right: 24px;
    cursor: pointer;
}

.active>label:last-child {
    background-image: url(img/Group\ 32.png);
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/*-----Слайдер с продуктами-----*/

.slider {
    display: flex;
}

.slider__container {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

/*-----Скидка на данный продукт-----*/

.discount {
    position: absolute;
    left: 4.6%;
    right: 70.97%;
    top: 3.1%;
    bottom: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #91BA3B;
    border-radius: 36px;
}

.discount__percent {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/*-----Наименования и описания продуктов-----*/
    .foto-water {
    display: none;
}
figcaption {
    padding: 0 20px 23px;
}

.name__product {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 33.3px;
    margin-left: -0.58px;
}

.name__product-other {
    margin-top: 22.1px;
}
.name__product-hidden-media {
    display: none;
}
.w-480-look {
    display: none;
}

.price__product {
    display: flex;
    margin-top: 28px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: right;
    color: #F2721B;
    align-items: center;
    margin-left: -1px;
}

.old__price {
    margin-left: 11px;
    margin-top: 3px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    text-decoration-line: line-through;
    color: #B3B3B3;
}

.new__price::after {
    content: "\20BD";
    margin-left: 7.5px;
}

.price__product-other {
    margin-top: 18px;
}

.like__checkbox:checked,
.like__checkbox:hover {
    content: url(img/like.png);
    position: absolute;
    z-index: 2;
    cursor: pointer;
    background-repeat: no-repeat;
}

.like-btn {
    margin-top: 25px;
}

.like-btn-other {
    margin-top: 25px;
}

.favorites {
    display: flex;
    align-items: center;
}

.about__favorites {
    background-image: url(img/like.png);
    cursor: pointer;
    background-repeat: no-repeat;
    padding: 15px;
    margin-left: -2px;
}

.put-basket {
    padding: 15.9px 31.1px;
    background: linear-gradient(0deg, #F2721B, #F2721B);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 21px;
}

.put_basket__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.basket__hidden {
    display: none;
}

/*-----Иконка меню-----*/

.menu-hidden {
    background: none;
    border: none;
    display: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    padding: 17.67px 43.5px 25px;
    left: auto;
    right: 0;
    top: 0px;
    background: #ECF5F8;
    cursor: pointer;
}
.stiky .show-menu {
    background-color: #FFFFFF;
    display: block;
    left: 90px;
    width: 70%;
    position: absolute;
    margin-left: 10px;
}

.stiky .show-menu li a {
    color: #344f50;
}
.menu-close {
    display: none;
}

/*-----Движение слайдера с продуктами-----*/

article.slider>div:not(:last-child) {
    margin-right: 20px;
}

.slider {
    transition: 4000ms linear;
}

#maket__1:checked~.slider {
    margin-left: 0;
}

#maket__2:checked~.slider {
    margin-left: -101.8%;
}

/*-----Медиа запросы-----*/

@media screen and (max-width: 1298px) {
    .container {
        width: 960px;
    }
    #search {
        width: auto;
    }
    .logo {
        margin-right: 10px;
    }
    .tel-schedule {
        margin: 19px 10px;
    }
    .basket {
        margin-left: 10px;
    }
    .tel {
    font-size: 15px;
    }
    #maket__2:checked~.slider {
        margin-left: -101%;
    }
    article.slider>div:not(:last-child) {
        margin-right: 13px;
    }
    .basket {
        margin-left: 30px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 660px;
    }
    #maket__2:checked~.slider {
        margin-left: -215%;
    }
    .menu li {
        margin: 0 9px 0 0;
    }
    .menu-open,
    .tel-schedule {
        display: none;
    }
    #search {
        padding: 17px 100px 17px 10px;
    }
    .open {
        margin-left: 60px;
    }
    .basket {
        display: flex;
        right: 0;
    }
    .menu {
        display: none;
    }
    .tel {
        font-size: 15px;
    }
    #maket__2:checked~.slider {
        margin-left: -160%;
    }
    article.slider>div:not(:last-child) {
        margin-right: 42px;
    }
}
 
@media screen and (max-width: 680px) {
    .container {
        position: relative;
        width: 480px;
        margin: 0 20px 0 21px;
    }
    .slider__container {
        height: 209px;
    }
    .nav__top, .search, .open {
        display: none;
    }
    .sale__img {
        width: 20px;
        margin-left: 20px;
    }
    .logo {
        height: 55px;
        margin: 13px 0 12px ;
    }
    .active>label:first-child {
        margin-right: 10px;
    } 
    .active {
        margin-right: 34px;
        margin-top: 7px;
    }
   figcaption {
        float: right;
        padding-left: 0;
        padding-bottom: 18px;
        margin-left: -40px;
   }
   figure {
       flex-direction: row;
   }
   .favorites {
       margin-left: -9px;
   }
   .put-basket {
       width: 141.7px;
       margin-left: 19px;
       padding-top: 13.9px;
       margin-top: -3px;
   }
   .put_basket__text-hidden {
        display: inline-block;
    }
    .put_basket-hidden {
        display: none;
    }
    .slider__container {
        border: 1px solid #D5D5D5;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .discount {
        padding: 18px 45.5px;
        display: inline-flex;
        top: 16px;
        left: 11%;
        margin-left: -31.5px;
        right: 78%;
    }
    .discount__percent {
        margin-left: -10px;
    }
    .name__product-hidden {
        display: none;
    }
    .name__product-hidden-media {
        display: inline-block;
        font-size: 16px;
        line-height: 19px;
        margin-top: 28px;
        margin-left: -10px;
        word-spacing: -0.1px;
    }
    .foto {
        width: 208px;
        height: 207px;
        margin-right: 70px;
    }
    .basket {
        position: absolute;
        justify-content: space-between;
        width: 127px;
        height: 81px;
        top: 0px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 13px 37px 21.8px;
        right: 168px;
        left: auto;
        border: none;
    }
    .basket__price {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        margin-left: -0.5px;
        line-height: 16px;
        margin-top: -4.5px;
    }
    .content, .sale{
        margin-top: 2.5px;
        word-spacing: 0.7px;
        padding-top: 1.2px;
    }
    .container_hidden {
        margin-top: 46px;
    }
    .container_sale {
        padding-top: 36px;
    }
    .basket__hidden {
        display: inline-block;
        margin-bottom: 7.5px;
        width: 22.03px;
        height: 22.03px;
    }
    .basket__look {
        display: none;
    }
    .menu-hidden {
        display: inline-block;
        position: absolute;
        margin-right: 41.5px;
        padding: 17px 43.5px 21.5px;
        border: none;
    }
    .menu-hidden__name {
        padding-top: 5.4px;
    }
    .old__price {
        margin-top: 0;
    }

    .basket__price::after {
        margin-left: 5px;
    }
    .sale__name {
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        margin-left: 13px;
    }
    .sale__img {
        margin-left: 0;
        display: none;
    }
    .line__hidden {
        display: inline-block;
    }
    article.slider>div:not(:last-child) {
        margin-right: 50px;
    }
    #maket__2:checked~.slider {
        margin-left: 0%;
    }
    .slider {
        transition: 8000ms linear;
    }
    .stike {
        display: flex;
    }
    .active>label:first-child {
        background: url(img/Group\ 31\ \(1\).png) no-repeat;
    }
    
    .active>label:last-child {
        background: url(img/Group\ 32\ \(1\).png) no-repeat;
    }
    .price__product {
        margin-top: 19.2px;
        margin-left: -10px;
    }
    .w-nav-480 {
        margin-bottom: -2px;
    }
    .foto-water-hidden {
        display: none;
    }
    .foto-water {
        display: inline-block;
    }
}


